<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
<header>

</header>

<main>
    {{{body}}}
    <script>
        document.querySelector('.select-field').addEventListener('click',()=>{
            document.querySelector('.list').classList.toggle('show');
            document.querySelector('.down-arrow').classList.toggle('rotate180');
        });
    </script>
</main>

<footer>
    by Lotte, Max & Niffi
</footer>
</body>
</html>
